// This file is specify to this particular TODO App only.

$global_space: 1em;
$shadow: #ccc;
$bgColor: #fcfbfc;


body {
    background-color: $bgColor;
    padding: $global_space;
}

main {
    margin-top: 100px;
}