$primaryTextColor: #314259;
$primaryBtnBgColor: #1678FB;
$primaryBtnColor: #fff;
$linkColor: $primaryBtnColor;
$hoverColor: #1169de;
$baseFontSize: 18px;


// Media query Variables
$mobile : 576px;
$ipad: 768px;
$ipadLarge: 992px;
$desktop: 1200px;
$desktopLarge: 1400px;
