button {
    border: none;
    padding: 10px 30px;
    background-color: cornflowerblue;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 0 4px #ccc;
    cursor: pointer;
}

button:hover {
    background-color: rgb(86, 127, 202);
    box-shadow: 2px 2px 8px 3px #ccc;
}

button:active {
    background-color: gray;
    box-shadow: 0 0 4px #ccc;
}

button:disabled {
    background-color: gray;
    color: #aaa;
    cursor: not-allowed;
}


/* Ball Object */

:root {
    --ballX: 0px;
    --ballY: 0px;
    --cursorX: 0px;
    --cursorY: 0px;
}

body {
    height: 100vh;
}

.ball {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: coral;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;

    transform: translate(calc(var(--ballX) - 40%), calc(var(--ballY) - 40%));
}

/* Custom Cursor */

#cursor {
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;

    transform: translate(calc(var(--cursorX) - 40%), calc(var(--cursorY) - 40%));
    transition: all 200ms linear;
}